@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #7C92A6, #A9C6D9);
}

main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #857e7f83;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF007D;
    text-align: center;
    text-shadow: 1px 1px 2px #FF007D(255, 255, 0, 0.475);;
}

h2 {
    color: #857E7F;
}


p {
    text-align: justify;
}